.table-bordered {
  border: 1px solid white;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid white;
  color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(247, 247, 247, 0.228);
}
.register-user-details {
  width: 95%;
  margin: auto;
  margin-top: 10px;
}
